{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class='container'>

  <div class='row'>
    <div class="heading-title text-center">
        <h3 class="text-uppercase">About Power Forward</h3>
        <p class="p-top-30 half-txt">We use machine learning to help governments and mobility companies optimally place new EV charging stations. Check out our recent work!</p>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
          <div class="team-img">
              <img src="{{url_for('static', filename='images/ca_ev_stations.png')}}" alt="EV Staitons Plot" class="img-responsive">
          </div>
          <div class="team-hover">
              <div class="desk">
                <a href='{{url_for('static', filename='images/ca_ev_stations.png')}}'>
                  <h4>Normal EV Stations Clustering</h4>
                </a>

                <p>Here is a visual representation of the existing EV charging station infrastructure in California.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
          <div class="team-img">
            <img src="{{url_for('static', filename='images/log_ca_ev_stations.png')}}" alt="EV Staitons Plot" class="img-responsive">
          </div>
          <div class="team-hover">
              <div class="desk">
                <a href='{{url_for('static', filename='images/log_ca_ev_stations.png')}}'>
                  <h4>Log Population Clustering</h4>
                </a>
                <p>Here we take the log of the population throughout California.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">

      <div class="team-member">
          <div class="team-img">

              <img src="{{url_for('static', filename='images/ca_ev_desert.png')}}" alt="EV Staitons Plot" class="img-responsive">

          </div>
          <div class="team-hover">
              <div class="desk">
                <a href='{{url_for('static', filename='images/ca_ev_desert.png')}}'>
                  <h4>Charging Station Desert</h4>
                </a>
                <p>We use <a href='https://github.com/holoviz/datashader'>Datashader</a> to find charging deserts in California.</p>
              </div>
          </div>
      </div>

    </div>
  </div>


</div>

{% endblock %}
