{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class='container'>

  <div class='row'>
    <div class="heading-title">
      <div class='container'>
        <h3 class="text-uppercase text-center">About Power Forward</h3>
        <h4 class="p-top-30">We use machine learning to help governments and mobility companies optimally place new EV charging stations.
        </h4>
      </div>
    </div>
  </div>

  <div class='row'>
    <form method="POST" action="{{ url_for('suggest_city') }}">
      <div class="container">
        <h3>Suggest your City!</h3>
        <p>Below you'll see existing charging stations throughout California.
           If you have a city or area you would love to promote EV adoption, let us know!</p>
      </div>

      <div class="container" style="background-color:white">
        <input type="text" placeholder="City" name="city" required>
        <input type="text" placeholder="State" name="state" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="submit" value="Suggest">
      </div>

    </form>
  </div>

  <div class='row'>
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
          <div class="team-img">
              <img src="https://power-forward.web.app/images/ca_ev_stations.png" alt="EV Staitons Plot" class="img-responsive">
          </div>
          <div class="team-hover">
              <div class="desk">
                <a href="https://power-forward.web.app/images/ca_ev_stations.png">
                  <h4>Normal EV Stations Clustering</h4>
                </a>

                <p>Here is a visual representation of the existing EV charging station infrastructure in California.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
          <div class="team-img">
            <img src="https://power-forward.web.app/images/log_ca_ev_stations.png" alt="EV Staitons Plot" class="img-responsive">
          </div>
          <div class="team-hover">
              <div class="desk">
                <a href="https://power-forward.web.app/images/log_ca_ev_stations.png">
                  <h4>Log Population Clustering</h4>
                </a>
                <p>Here we take the log of the population throughout California.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">

      <div class="team-member">
          <div class="team-img">

              <img src="https://power-forward.web.app/images/ca_ev_desert.png" alt="EV Staitons Plot" class="img-responsive">

          </div>
          <div class="team-hover">
              <div class="desk">
                <a href="https://power-forward.web.app/images/ca_ev_desert.png">
                  <h4>Charging Station Desert</h4>
                </a>
                <p>We use <a href='https://github.com/holoviz/datashader'>Datashader</a> to find charging deserts in California.</p>
              </div>
          </div>
      </div>

    </div>
  </div>


</div>

{% endblock %}
