
<link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/themes/light/main.css" />
{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block content %}
<script src="https://js.arcgis.com/4.12/"></script>
<style>
    #viewDiv {
    padding: 0;
    margin: 0;
    height: 80%;
    width: 100%;
    }


    #location, #ur {
      border:1px solid #D2D2D2;
    }
    #location {
      width: 300px;
    }
</style>

<script>
function pickHex(color1, color2, weight) {
    var p = weight;
    var w = p * 2 - 1;
    var w1 = (w/1+1) / 2;
    var w2 = 1 - w1;
    var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
        Math.round(color1[1] * w1 + color2[1] * w2),
        Math.round(color1[2] * w1 + color2[2] * w2)];
    return rgb;
}

function showUR() {
  document.getElementById('display').value = data['utilization-rate'];
}

require(["esri/widgets/Sketch",
          "esri/Map",
          "esri/layers/GraphicsLayer",
          "esri/views/MapView",
          "esri/layers/FeatureLayer",
          "esri/widgets/Legend",
          "esri/widgets/Search"],
          function(Sketch, Map, GraphicsLayer, MapView, FeatureLayer, Legend, Search) {
            const layer = new GraphicsLayer();
            const map = new Map({
              basemap: "gray",
              layers: [layer]
            });

            const view = new MapView({
              container: "viewDiv",
              map: map,
              zoom: 11,
              center: [-122.2913, 37.8272] // defaulti is Berkeley/Bay Area
            });

            // search bar
            const searchWidget = new Search({
              view: view
            });
            // Adds the search widget below other elements in
            // the top left corner of the view
            view.ui.add(searchWidget, {
              position: "top-left",
              index: 0
            });

            // Pin drop
            const sketch = new Sketch({
              layer: layer,
              view: view,
              availableCreateTools: ["point"]
            });

            // Check Cal arcgis layers https://cal.maps.arcgis.com/home/content.html?view=table&sortOrder=desc&sortField=modified#groups
            const featurelayers = ['314a6341def64c068814702d7c75c579', 'bc5f689ccd314c76a1c110f70bb75a44', '0a1789c232c24da5aeaf00968394eb6b'];
            //
            // const fl = new FeatureLayer({
            //   portalItem: {  // autocasts as esri/portal/PortalItem
            //     id: "cd0514b3f1834f2c96321d62ea8a59e9"
            //   }
            // });
            // map.add(fl);  // adds the layer to the map

            featurelayers.forEach(function (item, index) {
              console.log(item, index);
              // add feature layers
              const fl = new FeatureLayer({
                portalItem: {  // autocasts as esri/portal/PortalItem
                  id: item
                }
              });
              map.add(fl);  // adds the layer to the map

              var legend = new Legend({
                view: view,
                layerInfos: [{
                  layer: item,
                  title: "Legend"
                }]
              });
              view.ui.add(legend, "bottom-right");
            });



            //
            // const berkeleyChargingStations = new FeatureLayer({
            //   portalItem: {  // autocasts as esri/portal/PortalItem
            //     id: "0028ee20a0844a01b6f4f7c94f315caf"
            //   }
            // });
            // map.add(berkeleyChargingStations);  // adds the layer to the map
            //
            // const pois = new FeatureLayer({
            //   portalItem: {  // autocasts as esri/portal/PortalItem
            //     id: "f5c50f7fbd1647dab23cee840b73817d"
            //   }
            // });
            // map.add(pois);  // adds the layer to the map

            view.ui.add(sketch, "top-right");

            var color = [0,0,0]
            sketch.on('create', function(evt){
              post_url = '/map'
              let payload = {
                'lat': evt.graphic.geometry.latitude,
                'long': evt.graphic.geometry.longitude
              };

              document.getElementById('location').value = "("+ String(payload['lat']) + ", " + String(payload['long']) + ")";
              document.getElementById('ur').value = "Calculating...";
              fetch("/map" + "?lat=" + String(evt.graphic.geometry.latitude) +"&long=" +String(evt.graphic.geometry.longitude), {
                method: "POST",
                body: JSON.stringify(payload)
              })
              .then(response => response.json())
              .then(data => {
                //#74 B0 b9 = blue; F0fa0C = yello
                var low_gradient = [116,176,185]  //#74B0b9 = blue
                var high_gradient = [240,250,12]  //#F0fa0C = yello
                console.log('Utililzation Rate: ', String(data['utilization-rate']));

                document.getElementById('ur').value = data['utilization-rate'];
                color = pickHex(low_gradient, high_gradient, data['utilization-rate']);
              });
            });

            sketch.viewModel.watch('state', function (state) {
              if (state === 'ready') {
                sketch.viewModel.pointSymbol = {
                  type: "simple-marker",
                  style: "circle",
                  size: 6,
                  color: color,
                  outline: {
                    color: [190, 227,180], // light green
                    width: 1
                  }
                };
              }
            });
          });
</script>

<!-- <div class='container'>
  <form>
    <label><b>Utilization Rate Predictor</b></label>
    <input type="text" name="message">
  </form>

  <input type="text" onclick="showUR();"><br/>
  <label> The calculated utilization rate: </label>
  <p><span id='display'></span></p>
</div> -->

<div class="embed-container">
  <!-- <div class='row'> -->
  <div class='container'>
    <h2>Drop a Pin to Discover the Utilization Rate</h2>

    <p>Click the pin on the upper right corner of the map. You may need to wait a moment for us to do some thinking before seeing the utilization rate!<p>

    <h5>Location: <input id='location' readonly></input></h5>
    <h5>Charging Demand (Number of Stations): <input id='ur' readonly></input></h5>
  </div>
  <!-- </div> -->
  <div id="viewDiv"></div>
</div>

{% endblock %}
